.btn-align{
margin-left:115px;
margin-left: 208px;
margin-top: -63px

}


      .text-img {
        position: absolute;
        left: -212px;
        color: black;
        padding-left: 1098px;
        padding-right: 20px;
        margin-top: 96px;
      }